QMainWindow
{
	background-color: black;
}

AlarmEditor
{
	background-color: #444648;
}

StyleSheetEditor
{
	background-color: #444648;
}

PreviewWidget
{
	background-color: #444648;
}

QMenuBar
{
	background-color: #444648;
	border: 1px solid #444648;
	color: #f3f3f3;
	spacing: 1px;
}

QMenuBar::item::selected
{
	background-color: #40ade6;
}

QMenu
{
	background-color: #444648;
	border: 2px solid #74797d
}

QMenu::item
{
	border: 5px solid transparent;
	color: #e7ebf4;
}

QMenu::item::selected
{
	background-color: #40ade6;
	color: #e7ebf4;
}

QMenu::separator
{
	height: 2px;
	background: #74797d;
	margin-left: 5px;
	margin-right: 5px;
}

QToolBar
{
	background: #444648;
	border: 1px solid #444648;
}

QToolBar QToolButton:hover
{
	background: #73787c;
	border: 1px solid #73787c;
}

QToolBar QToolButton:pressed
{
	background: black;
	border: 1px solid #212121;
}

QToolButton
{
	color: #e7ebf4;
}

QPushButton
{
	border: 1px solid #73787c;
	border-radius: 2px;
	background-color: #444648;
	color: #ead8c4;
}

QPushButton::hover
{
	border: 1px solid #73787c;
	background-color: #212121;
}

QPushButton::pressed
{
	border: 1px solid #73787c;
	background-color: black;
}

QRadioButton::indicator::unchecked
{
	image: url(D:/Documents/Alarm_clock/icons/radio_dark_checked.png);
}

QRadioButton::indicator::checked
{
	image: url(D:/Documents/Alarm_clock/icons/radio_dark_unchecked.png);
}

QCheckBox
{
	padding: 2px;
	color : #ead8c4;
}

QCheckBox::indicator::unchecked
{
	image: url(D:/Documents/Alarm_clock/icons/white_check_blank.png);
}

QCheckBox::indicator::checked
{
	image: url(D:/Documents/Alarm_clock/icons/white_check.png);
}

QSlider::groove:horizontal
{
	border: 1px solid #73787c;
	border-radius: 4px;
	height: 6px;
	background: #424242;
}

QSlider::groove:vertical
{
	background: red;
}

QSlider::handle:horizontal 
{
    background: #73787c;
    border: 1px solid #73787c;
	border-radius: 2px;
    width: 15px;
    margin: 0px; 
}

QTableWidget
{
	background-color: #444648;
}

QTableWidget QTableCornerButton::section
{
	background: #444648;
	border: 1px solid transparent;
}

QTableWidget QHeaderView
{
	background: #444648;
	border: 1px solid #606365;
}

QTableWidget QHeaderView::section
{
	background: #444648;
	border: 1px solid transparent;
	color: #e0e0e0;
}

QTableWidget::item
{
	border-bottom : 1px solid #e0e0e0;
	color: #e7ebf4;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
}

QTableWidget::item:focus
{
	background-color: #73787c;
	border-bottom : 1px solid #e0e0e0;
	color: #e7ebf4;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
}

QGroupBox
{
	border: 1px solid #73787c;
	border-radius: 2px;
	color: #e0e0e0;
}

QSpinBox
{	
	background-color: #444648;
	border: 1px solid #73787c;
	border-radius: 2px;
	padding-right: 1px;
	color: #e0e0e0;
}

QSpinBox::up-button
{
	subcontrol-origin: border;
	subcontrol-position: top right;
	border-image: url(D:/Documents/Alarm_clock/icons/arrow_up.png);
}

QSpinBox::down-button
{
	subcontrol-origin: border;
	subcontrol-position: bottom right;
	border-image: url(D:/Documents/Alarm_clock/icons/arrow_down.png);
}

QComboBox
{
	border: 1px solid #73787c;
	border-radius: 2px;
	color: #e7ebf4;
}

QComboBox:editable
{
	background-color: #73787c;
}

QComboBox:!editable, QComboBox::drop-down-editable
{
	background-color: #424242;
}

QComboBox:!editable:on, QComboBox::drop-down:editable:on 
{
	background-color: #22252a;
}

QComboBox::drop-down
{
	border: 0px;
}

QComboBox::down-arrow
{
	image: url(D:/Documents/Alarm_clock/icons/drop_arrow_down.png);
}

QComboBox QAbstractItemView 
{
    border: 1px solid #73787c;
	border-radius: 2px;
	background-color: #444648;
    selection-background-color: #22252a;
	color: #e7ebf4;
}

QTextEdit
{
	border: 1px solid #73787c;
	border-radius: 2px;
	background: #22252a;
	color: #e7ebf4;
}

QLabel
{
	color: #e7ebf4;
}